<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="index.html" title="Home">Home</a></li>
					<li>Search for Recipes</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">			
				<!--content-->
				<section class="content full-width wow fadeInUp">																			
					<!--recipefinder-->
					<div class="container">						
						<div>
							<h3 class="center">Podaj nazwę składnika oraz wybierz kategorię</h3>
							<div class="row">
								<div class="one-fourth"></div>
								<div class="search one-half"> 
									<angucomplete id="ingredientSearchField"  placeholder="kalafior, marchew albo buraki"
						              pause="100" titlefield="name" searchfields="name" localdata="ingredients" selectedobject="selectedIngredient" 
						              inputclass="form-control form-control-small">									
								</div>				
							</div>
							<div class="row">
								<div class="one-fourth"></div>												
								<div class="one-half">	
									<label ng-repeat="t in types">
										<input type="checkbox" id="{{t.id}}" ng-model="selectedTypes.ids[t.id]">{{t.name}}
									</label>																																
								</div>																					
							</div>							
							<div class="row">
								<div class="one-fourth"></div>
								<div class="search one-half">									  
									<button class="add" ng-click="search()">Search</button>
								</div>
							</div>
						</div>				
					</div>
					<!--//recipefinder-->

					<div class="entries row">
						<!--item-->
							<div class="entry one-fourth wow fadeInLeft" data-wow-delay=".2s" ng-repeat="i in searchResults | orderBy:'-displays' ">
								<figure>
									<img src="{{i.image}}" alt="" />
									<figcaption><a ng-click="squareClicked(i)"><i class="ico i-view"></i> <span>Wybierz!</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a ng-click="squareClicked(i)">{{i.name}}</a></h2> 
									<div class="actions">
										<div>
											<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>									
										</div>
									</div>
								</div>
							</div>
						<!--item-->															
												
						<!--<div class="quicklinks">
							<a href="#" class="button">More recipes</a>
							<a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
						</div>-->
					</div>
					<!--//results-->
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
	<script>new WOW().init();</script>